.header {
    &__container {
        @include adaptiveValue("height", 110, 84, 0, 600, 320);
        max-width: toRem(1251);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        @include adaptiveValue("height", 57, 37, 0, 600, 320);
    }
    &__logo img {
        height: 100%;
        width: auto;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include adaptiveValue("gap", 84, 10, 0, 1400, 600);
    }
    &__nav {
    }
    &__menu {
        @include adaptiveValue("height", 50, 44, 0, 600, 320);
        display: flex;
        align-items: center;
        @include adaptiveValue("gap", 80, 10, 0, 1400, 600);
        & li {
            display: flex;
            align-items: center; 
            height: 100%; 
            border-bottom: 2px solid transparent; 
            transition: border-color 0.3s ease;
        }
        & li:hover {
            border-bottom: 2px solid $green;
        }
    }
    &__btn {
        @include adaptiveValue("width", 144, 120, 0, 600, 320);
        @include adaptiveValue("height", 50, 44, 0, 600, 320);
    }
}

@media (max-width: toRem(635)) {
    .header__nav {
        display: none;
    }
}