//====================================================================================================
.hero {
    background: url('../../img/Hero-bg.jpg') no-repeat center;
    background-size: cover;
    @include adaptiveValue("height", 586, 314, 0, 1400, 600);

    &__container {
        @include adaptiveValue("padding-top", 184, 48, 0, 1400, 600);
        @include adaptiveValue("padding-bottom", 63, 44, 0, 600, 320);
    }
    &__content {
        @include adaptiveValue("width", 420, 491, 0, 1400, 600);
        color: $white;
    }
    &__title {
        @include adaptiveValue("font-size", 48, 32, 0, 1400, 600);
        font-size: 48px;
        font-weight: 400;
        line-height: 1.19;
    }
    &__title:not(:last-child){
        @include adaptiveValue("margin-bottom", 35, 15, 0, 1400, 320);
    }
    &__text {}
      
    &__text:not(:last-child){
        @include adaptiveValue("margin-bottom", 35, 22, 0, 1400, 320);
    }
    &__btn {
        width: toRem(144);
        @include adaptiveValue("height", 66, 58, 0, 1400, 600);
    }
}
.hero-bg {
    display: none;
}

@media (max-width: toRem(600)) {
    .hero {
        background: $darkBeige;
        &__container {
            @include adaptiveValue("padding-top", 48, 30, 0, 600, 320);
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__content {
            @include adaptiveValue("width", 491, 263, 0, 600, 320);
            color: $black;
            text-align: center;
        }
        &__btn {
            background-color: $green;
            color: $white;
            width: 100%;
        }
    }
    .hero-bg {
        display: block;
        width: 100%;
        height: toRem(367);
        background: url('../../img/Hero-bg.jpg') no-repeat center;
        background-size: cover;
    }
}
//====================================================================================================
.companies {
    @include adaptiveValue("padding-top", 77, 51, 0, 1400, 320);
    @include adaptiveValue("padding-bottom", 80, 44, 0, 1400, 320);

    &__container:not(.swiper-wrapper) {
        display: flex;
        justify-content: space-between;
        @include adaptiveValue("gap", 40, 10, 0, 1400, 600);
    }

    .company {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &__img {
            display: flex;
            align-items: center;
            justify-content: center;
            height: toRem(42);
            @include adaptiveValue("margin-bottom", 15, 22, 0, 1400, 600);
        }

        &__text {
            font-size: toRem(14);
            line-height: 1.4;
            color: $black;
            text-align: center;
            font-weight: 400;
            @include adaptiveValue("max-width", 157, 304, 0, 1400, 600);
        }
    } 
}

@media(max-width: toRem(600)){
    .company {
        &__image {
            @include adaptiveValue("margin-bottom", 22, 18, 0, 600, 320);
        }

        &__text{
            @include adaptiveValue("max-width", 304, 219, 0, 600, 320);
        }
    }
}